body {

    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
    background-color: #ececec;
}

h1,
h2 {
    font-family: 'Bitter', serif;
}

.botao {
    color: #000;
    text-decoration: none;
    background-image: linear-gradient(#ececec, #cccccc);
    padding: 5px 25px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #000;
}


/*MENU*/

#logo {
    margin-top: 15px;
}

nav {
    display: flex;
    background-color: #e4e4e4;
    position: fixed;
    width: 100%;
    justify-content: space-around;
}

ul {

    margin-top: 20px;
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 600;
}

a {
    color: #000;
    text-decoration: none;
}

/* HEADER */

#home {

    background-image: url(../assets/images/tur1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 25px;
    height: 450px;
    background-size: 100%;
    ;
}

header p {
    margin-bottom: 2em;
}


h1,
h2 {
    color: #000;

}

/* sedes */

#sedes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0 20px 20px;
    /*background-color: #8f2faf;*/
    background-image: linear-gradient(#c3b01d, #FFE521);

}

#sedes p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sedes .botao {
    color: #4d4d4d;
    background-color: #f1f1f1;
}


#sedes1 {

    padding: 10px;
    margin-top: 30px;
    color: #000;
    background-image: linear-gradient(#ececec, #cccccc);
    border: 1px solid #000;
    border-radius: 5px;
}

#chart_div {
    width: auto;

}

header img {
    margin-top: 40px;
    width: 200px;
    border: 2px solid black;
    align-items: flex-start;
}


/* Estudantes */

#estudantes {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF009E;
}

#estudantes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}


#programadorasImagens {
    margin-left: 43%;
    padding: 10px;
    margin-top: 30px;
    color: #000;
    background-image: linear-gradient(#ececec, #cccccc);
    border: 1px solid #000;
    border-radius: 5px;
}

#divPrincipal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
}

#divPrincipal img {
    width: 110px;
    height: 150px;
}

#divPrincipal p {
    margin: 2px;
}


/* Jedis */

#jedis , #nps {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
}

#jedis h2 , #nps h2{
    background-color: #56F89A;
    width: 100%;
    text-align: center;
    padding: 30px;
}

#jedis div {
    margin-bottom: 20px;
}

#curve_chart{
    width: 900px;
    height: 400px;
}

#nps h2{
    background-color:#FFE521!important;
}


footer {
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    font-size: 25px;
    background-image: linear-gradient(#c3b01d, #FFE521);
}

#lab1 {
    margin-top: -10px;
}